In [1]:
str = 'navya'
str

'navya'

In [2]:
'Navya Shree M N'

'Navya Shree M N'

In [3]:
"Double quote"

'Double quote'

In [4]:
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-4-dead77b3e6ca>, line 1)

In [5]:
"Using double quote i'm (single quote)can be used"

"Using double quote i'm (single quote)can be used"

In [6]:
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [7]:
print 'Hello World 1'
print 'Hello World 2'
print 'Use \n to print a new line'
print '\n'
print 'See what I mean?'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World 1')? (<ipython-input-7-3c2f3251395a>, line 1)

In [8]:
print("print need parentheses")

print need parentheses

In [9]:
from __future__ import print_function
print 'Hello World'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World')? (<ipython-input-9-dabfe572d6cd>, line 2)

In [10]:
from __future__ import print_function
print('Hello World')

Hello World

In [11]:
len('Navya')

5

In [12]:
s = 'Hello World'

In [13]:
s

'Hello World'

In [14]:
n="navya shree m n"

In [15]:
print(n)

navya shree m n

In [16]:
n[0]

'n'

In [17]:
n[3]

'y'

In [18]:
n[5]

' '

In [19]:
n[1:]

'avya shree m n'

In [20]:
n[-1]

'n'

In [21]:
n[:-1]

'navya shree m '

In [22]:
n[::-1]

'n m eerhs ayvan'

In [23]:
n[:]

'navya shree m n'

In [24]:
n[::1]

'navya shree m n'

In [25]:
n[::2]

'nvasremn'

In [26]:
n[0]=N

NameError: name 'N' is not defined

In [27]:
n[0]="N"

TypeError: 'str' object does not support item assignment

In [28]:
n+"hello"

'navya shree m nhello'

In [29]:
n

'navya shree m n'

In [30]:
n=n+"hello"

In [31]:
n

'navya shree m nhello'

In [32]:
alpha="a"

In [33]:
alpha*10

'aaaaaaaaaa'

In [34]:
n.upper()

'NAVYA SHREE M NHELLO'

In [35]:
n.lower()

'navya shree m nhello'

In [36]:
n.split()

['navya', 'shree', 'm', 'nhello']

In [37]:
n.split('hello')

['navya shree m n', '']

In [38]:
'Today is a:{}'.format({'gud day'})

"Today is a:{'gud day'}"

In [39]:
'Today is a:{}'.format('gud day')

'Today is a:gud day'

In [40]:
print(n)
n.count('n')

navya shree m nhello

2

In [43]:
n.find('n')

0

In [44]:
n.find(y)

NameError: name 'y' is not defined

In [45]:
n.find('y')

3

In [46]:
n.center(60,'b')

'bbbbbbbbbbbbbbbbbbbbnavya shree m nhellobbbbbbbbbbbbbbbbbbbb'

In [47]:
'Navya\tNav'.expandtabs()

'Navya   Nav'

In [48]:
n.isalnum()

False

In [49]:
n='navya'

In [50]:
n.isalnum()

True

In [51]:
n.isalpha()

True

In [53]:
n.islower()

True

In [54]:
n.isspace()

False

In [55]:
n.istitle()

False

In [56]:
n.endswith('o')

False

In [57]:
s.split('v')

['Hello World']

In [58]:
n.split('e')

['navya']

In [59]:
n.split('v')

['na', 'ya']

In [60]:
n.partition('y')

('nav', 'y', 'a')

In [61]:
n

'navya'

In [62]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [63]:
len(my_list)

4

In [64]:
my_list[0]

'A string'

In [65]:
my_list[1:]

[23, 100.232, 'o']

In [66]:
my_list[:3]

['A string', 23, 100.232]

In [67]:
my_list + ['NAVYA']

['A string', 23, 100.232, 'o', 'NAVYA']

In [68]:
my_listmy_list

['A string', 23, 100.232, 'o']

In [69]:
my_list = my_list + ['navya']

In [70]:
my_list

['A string', 23, 100.232, 'o', 'navya']

In [71]:
my_list * 2

['A string', 23, 100.232, 'o', 'navya', 'A string', 23, 100.232, 'o', 'navya']

In [72]:
my_list.append('shree')

In [73]:
my_list

['A string', 23, 100.232, 'o', 'navya', 'shree']

In [74]:
my_list.pop(0)

'A string'

In [75]:
my_list

[23, 100.232, 'o', 'navya', 'shree']

In [76]:
popped_item = my_list.pop()

In [77]:
popped_item

'shree'

In [78]:
my_list[100]

IndexError: list index out of range

In [79]:
my_list.reverse()

In [80]:
my_list

['navya', 'o', 100.232, 23]

In [81]:
my_list.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [82]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix = [lst_1,lst_2,lst_3]

In [83]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [84]:
matrix[1]

[4, 5, 6]

In [85]:
matrix[2][2]

9

In [86]:
first_col = [row[2] for row in matrix]

In [87]:
first_col

[3, 6, 9]

In [88]:
first_col = [row[3] for row in matrix]

IndexError: list index out of range

In [89]:
first_col = [row[1] for row in matrix]

In [90]:
first_col

[2, 5, 8]

In [91]:
l = [1,2,3]

In [92]:
l.append(4)
l

[1, 2, 3, 4]

In [93]:
l.count(10)

0

In [94]:
l.count(1)

1

In [95]:
x = [1, 2, 3]
x.append([4, 6])
print(x)

[1, 2, 3, [4, 6]]

In [96]:
x.extend([4, 5])
print(x)

[1, 2, 3, [4, 6], 4, 5]

In [97]:
print(l)
l.index(3)

[1, 2, 3, 4]

2

In [98]:
l.index(12)

ValueError: 12 is not in list

In [99]:
l

[1, 2, 3, 4]

In [100]:
l.insert(2,'insert')

In [101]:
l

[1, 2, 'insert', 3, 4]

In [102]:
ele = l.pop()

In [103]:
ele

4

In [104]:
l

[1, 2, 'insert', 3]

In [105]:
l.remove('insert')

In [106]:
l

[1, 2, 3]

In [107]:
l.remove(3)

In [108]:
l

[1, 2]

In [109]:
l.append(3)

In [110]:
l

[1, 2, 3]

In [111]:
l.reverse()

In [112]:
l

[3, 2, 1]

In [113]:
l.sort()

In [114]:
l

[1, 2, 3]