In [2]:
class Person:
    pass

n = Person()
n.name = "Navya"
n.surname = "Shree"
n.year_of_birth =55478


print(n)
print("%s %s was born in %d." %
      (n.name,n.surname, n.year_of_birth))

<__main__.Person object at 0x000000BA50EB5550>
Navya Shree was born in 55478.

In [3]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [4]:
nav = Person("Navya", "Shree", 5020)
print(nav)
print("%s %s was born in %d"% (nav.name,nav.surname,nav.year_of_birth))

<__main__.Person object at 0x000000BA50EB55C0>
Navya Shree was born in 5020

In [6]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
n = Person("Nav", "M", 1999)
print(n)
print(n.age(2020))

Nav M was born in 1999 .
21

In [7]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Nav', 'M', 2020)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Nav M was born in 2020 .
<class '__main__.Student'>
True
True

In [8]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
c = Student(1, 'A', 'B', 2600)
print(c)

A B was born in 2600 . And has ID: 1

In [9]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [10]:
def summer(a, b):
    return a + b

print(summer(1225, 58241))
print(summer(["agfrgd", "b", "c"], ["dgdg", "e"]))
print(summer("abra", "12344"))

59466
['agfrgd', 'b', 'c', 'dgdg', 'e']
abra12344

In [11]:
def summer(a, b):
    return a - b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

0

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [13]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [14]:
%%writefile superman.txt
Hello, Nav

Overwriting superman.txt

In [15]:
my_file = open('superman.txt')

In [16]:
my_file.read()

'Hello, Nav\n'

In [17]:
my_file.read()

''

In [18]:
my_file.read()

''

In [19]:
my_file.seek(1000)

1000

In [20]:
my_file.read()

''

In [21]:
my_file.seek(0)

0

In [22]:
my_file.read()

'Hello, Nav\n'

In [23]:
my_file.readlines()

[]

In [24]:
my_file.seek(0)

0

In [25]:
my_file.readlines()

['Hello, Nav\n']

In [26]:
my_file = open('superman.txt','w+')

In [27]:
my_file.write('HELLO new line')

14

In [28]:
my_file.seek(0)

0

In [29]:
my_file.read()

'HELLO new line'

In [30]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [31]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [32]:
from io import StringIO

In [35]:
message = 'HI NAVYA!!.'

In [36]:
f = StringIO(message)

In [37]:
f.read()

'HI NAVYA!!.'

In [38]:
f.write(' Second line ')

13

In [39]:
f.seek(0)

0

In [40]:
f.read()

'HI NAVYA!!. Second line '